@import "variables";
@import "mixins";
header {
    a,
    .nav-link {
        color: white;
        text-decoration: none;
    }
    a:hover,
    .nav-link:focus,
    .nav-link:hover {
        color: $secundaryColor;
    }
    button a:hover {
        color: white;
    }
    li {
        font-weight: 700;
        margin-bottom: 10px;
        @include breakpoint(tablets) {
            border-bottom: 1px solid #194a45;
        }
    }
    li:last-child {
        border: 0;
    }
    img {
        max-width: 140px;
    }
    .search {
        background: none;
        @include transition(0.3s);
        &:hover {
            @include transition(0.3s);
            transform: scale(1.2);
        }
    }
    width: 100%;
    .navbar-nav {
        @include breakpoint(tablets) {
            text-align: center;
        }
    }
    .navbar-brand {
        @include transition(0.3s);
        &:hover {
            @include transition(0.3s);
            transform: scale(1.1);
        }
    }
}

.green-nav {
    background: transparent;
    @include transition(0.2s);
    @include breakpoint(tablets) {
        background: $primaryColor;
    }
}

.t-up{
    @media (min-width: $tablets) {
        padding-top: 30px;
        background-color: white;
        transform: translateY(-85px);
        border-radius: 5px;
    }
}

section.modal-buscar{
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: rgba(0, 0, 0, 70%);
    z-index: 9999; // nav está com 999
    display: none;
    &.active{
        display: flex;
    }
    .intern{
        margin: auto;
        padding: 30px;
        background-image: url(../img/footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 90%;
        label{
            width: 100%;
            margin-bottom: 30px;
        }
        input{
            background-color: white;
            padding: 10px 25px;
            width: 100%;
            margin-bottom: 10px;
            border: none;
            &[type="submit"]{
                margin-left: 0;
            }
        }
    }
}