@import "variables";
@import "mixins";
.pagevideo {
    .t-up{
        @media (min-width: $tablets) {
            padding-top: 30px;
            background-color: white;
            transform: translateY(-85px);
            border-radius: 5px;
        }
    }
    p.desc{
        color: #0a2724;
        font-size: 25px;
        line-height: 35px;
        margin: 20px 0 30px;
    }
}