.teams-itau-int {
    &.t-up{
        background-color: white;
        transform: translateY(-30px);
        border-radius: 5px;
    }
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        max-width: 100%;
        width: 100%;
        border-radius: 6px;
        padding: 10px;
        border: 1px solid grey;
    }
    textarea {
        height: auto;
    }
}
input, select{
    margin-bottom: 20px;
}